/* 
    Document   : style
    Created on : 18/05/2013, 02:59:51 PM
    Author     : PUBLICO
    Description:
        Purpose of the stylesheet follows.
*/

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 90%;
}

